.DS_Store
node_modules
/dist
src/api/views
grc-6732-62f6819d4df8.json
coverage

# local env files
.env.local
.env.*.local
.env

#google cloud files
app.yaml
.gcloudignore
cron.yaml

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
jsconfig.json

# cypress
tests/cypress/videos
tests/cypress/screenshots