.btn {
    border-radius: 0;
    box-shadow: 2px 2px;
}

.btn-igdb {
    color: #7313FF;
    border-color: #7313FF;
}

.btn-igdb:hover {
    color: #fff;
    background-color: #7313FF;
}

.platform-selector {
    background-color: #00000063;
}

.platform-selector.selected {
    background-color: #000000;
}
