:root {
	--border-color: #6A9CCD;
	--bg-color: #fff;
	--link-color: #6A9CCD;
	--igdb-color: #7313FF;
	--add-button-color: var(--bs-primary);
}

body {
	background-color: var(--bg-color);
}

.text-bg-light {
    color: #000!important;
    background-color: RGBA(248,249,250,var(--bs-bg-opacity,1))!important;
}

.footer .nav-link {
    color: var(--bs-nav-link-color) !important;
}

.footer .nav-link:hover {
    color: var(--bs-nav-link-hover-color) !important;
}

#alert-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.btn {
    border-radius: 0;
    box-shadow: 2px 2px;
}

.btn:hover {
	box-shadow: none;
	margin-right: -2px;
}

.btn-igdb {
    color: var(--igdb-color);
    border-color: var(--igdb-color);
}

.btn-igdb:hover {
    color: #fff;
    background-color: #7313FF;
}

#register-top-link {
	color: var(--link-color);
	text-decoration: none;
}

#register-top-link:hover {
	text-decoration: underline;
}

.btn-outline-primary.game-details {
	color: var(--add-button-color);
	border-color: var(--add-button-color);
}

.btn-outline-primary.game-details:hover {
	color: #fff;
}

.game {
	display: flex;
	margin: 0;
	padding: 0;
}

.game-cover.img {
	max-height: 130px;
}

.game-info {
	padding: 5px 0 5px 5px;
	width: 100%;
}

.game-info h5 {
	font-size: 1rem;
}

.game-info h6 {
	font-size: 0.8rem;
}

.game-details, .add-game {
	margin-bottom: 10px;
	padding: 10px;
}

.game {
	border-bottom: 1px solid var(--border-color);
}

.game-list .row:last-child .game {
	border-bottom: none;
}

.game-actions .btn {
	font-size: 1.3rem;
}

.game-actions {
	text-align: right;
	padding: 5px;
	margin-right: 0;
}

#to-top-button {
	position: fixed;
	bottom: 20px;
	right: 50%;
	transform: translate(+50%, 0);
	z-index: 100;
	padding: 10px;
}

@media (min-width: 1440px) {
	#to-top-button {
		right: 20px;
	}
}